* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.box-login {
  display: flex;
  justify-content: center;
}

.login {
  max-width: 500px;
  width: 100%;
  padding: 60px 3%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 5px 5px 10px #bbbbbb;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login input {
  height: 40px;
  padding: 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #ebc15a;
}

.login input::placeholder {
  font-size: 14px;
  font-weight: normal;
}

.login button {
  height: 40px;
  background-color: #00bfa5;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 0 0;
  color: #fff;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 768px) {
}
